@mixin Textarea {
  padding: 0.25rem;
  border: 0.05rem solid $border-color;
  background-color: $editor-bg-color;
  color: $editor-text-color;
  resize: none;
  outline: none;
  scrollbar-color: $button-text-color white;
  scrollbar-width: thin;
  border-radius: 0;
}

@mixin Button {
  background-color: $button-bg-color;
  border: 0.05rem solid $border-color;
  color: $button-text-color;
  border-radius: 0.2rem;
  text-decoration: none;
  -webkit-appearance: none;
  width: 3rem;
  height: 1.5rem;


}

button:active{
  transform: translateY(-2px);
  opacity: 0.5;
}

label[for= "file"]:active{
  transform: translateY(-2px);
  opacity: 0.5;
}

select:active{
  transform: translateY(-2px);
  opacity: 0.5;
}

@mixin Dropdown {
  height: 1.5rem;
  background-color: $button-bg-color;
  color: $button-text-color;
  border: 0.05rem solid $border-color;
  border-radius: 0.2rem;
  
}

blockquote{
	
	border-left: .25rem solid #8685EF;
	padding-left: .5rem;
}

code{
	white-space: pre;
	background: #FFEFFF;
}

/*Scrollbar for chrome and safari*/

.preview::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  border: 0.01rem solid transparent;
  background-clip: content-box;
}

.preview::-webkit-scrollbar,
textarea::-webkit-scrollbar {
	
  width: 0.4rem;
  height: 0;
}

.preview::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  border: 1px solid $button-text-color;
  background: $button-text-color;
}
