html,
body,
#root {
  height: 100%;
  font-family: "Work Sans", sans-serif;
  color: $preview-text-color;
  font-size: $root-font;
}

body {
  margin: auto 0;
}

.App {
  display: grid;
  grid-template-rows: 3rem 1fr 2.5rem 1fr 0.75rem;
  grid-template-columns: 1fr;
  height: 100%;
  font-size: 0.75rem;

  @include for-tablet-up {
    display: grid;
    grid-template-rows: 5.5rem 0.95fr auto;
    grid-template-columns: 1fr 1fr;
    font-size: 1rem;
  }

  @include for-large-phone-landscape-up {
    grid-template-rows: 4rem 0.95fr auto;
  }

  @include for-phone-landscape-up {
    grid-template-rows: 3rem 1fr 2.5rem 1fr 0.5rem;
  }
}
.container-header-editor {
  grid-area: 1/1/2/2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 1rem;
  margin-right: 1rem;
}

.header-editor {
  font-size: 0.95rem;
  font-weight: 600;
}

.header-preview {
  grid-area: 3/1/4/2;
  justify-self: start;
  align-self: end;
  margin-left: 1rem;
  font-size: 0.95rem;
  font-weight: 600;

  @include for-tablet-up {
    grid-area: 1/2/2/3;
    justify-self: start;
    align-self: end;
    margin-left: 1rem;
    font-size: 1.25rem;
  }
}

label{
@include Button;
align-self: flex-end;
font-size: .875rem;
font-weight: 400;
display: flex;
align-items: center;
width: 5rem;
order: 2;
}
input[type ="file"]{
	display:none;
}

.clearButton {
  @include Button;
  order: 3;

  @include for-tablet-up {
    margin-bottom: 0.1rem;
  }
}

.previewDropdown {
  grid-area: 3/1/4/3;
  justify-self: end;
  align-self: end;
  margin-right: 1rem;

  @include for-tablet-up {
    grid-area: 1/2/2/3;
    justify-self: end;
    align-self: end;
    margin-left: 1rem;
    font-size: 1rem;
  }
}

select {
  @include Dropdown;
  margin-bottom: 0.1rem;
}

.fileInput {
  font-size: 0.75rem;
  grid-area: 1/1/2/2;
  margin-left: 2.5rem;
}

.editor {
  @include Textarea;
  font-size: 0.75rem;
  display: flex;
  grid-area: 2/1/3/2;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.2rem;

  @include for-tablet-up {
    grid-area: 2/1/3/2;
    font-size: 1rem;
  }
}

.preview {
  font-size: 0.65rem;
  grid-area: 4/1/5/1;
  text-align: start;
  border: 0.01rem solid $border-color;
  overflow: scroll;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 0.1rem;
  padding: 0 0.25rem;
  scrollbar-color: $button-text-color white;
  scrollbar-width: thin;

  @include for-tablet-up {
    grid-area: 2/2/3/3;
    font-size: 0.75rem;
    margin-top: 0.2rem;
  }
}

.footer {
  justify-self: center;
  grid-area: 6/1/7/1;
  font-size: 0.55rem;

  @include for-tablet-up {
    grid-area: 3/1/4/3;
    font-size: 0.75rem;
    align-self: end;
  }
}

img {
  width: 25%;
  height: auto;
}
