html,
body,
#root {
  height: 100%;
  font-family: "Work Sans", sans-serif;
  color: $preview-text-color;
  font-size: $root-font;
}

body {
  margin: auto 0;
}

.App {
  display: grid;
  grid-template-rows: 3rem 1fr 2.5rem 1fr 0.75rem;
  grid-template-columns: 1fr;
  height: 100%;
  font-size: 0.75rem;

  @include for-tablet-up {
    grid-template-rows: 5.5rem 0.95fr auto;
    grid-template-columns: 1fr 1fr;
    font-size: 1rem;
  }

  @include for-large-phone-landscape-up {
    grid-template-rows: 4rem 0.95fr auto;
  }

  @include for-phone-landscape-up {
    grid-template-rows: 2.5rem 0.95fr auto;
  }

  @include for-phone-landscape-small {
    grid-template-rows: 3rem 0.95fr auto;
  }

  @include for-phone-landscape-keyboard {
    grid-template-rows: 1fr;
  }
}
.container-header-editor {
  grid-area: 1/1/2/2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 1rem;
  margin-right: 1rem;

  @include for-phone-landscape-keyboard {
    display: none;
  }
}

.header-editor {
  font-size: 0.95rem;
  font-weight: 600;
  flex-basis: 45%;
  text-align: start;

  @include for-tablet-up {
    font-size: 1.25rem;
    flex-basis: 55%;
  }

  @include for-desktop-up {
    flex-basis: 60%;
  }
  @include for-large-desktop-up {
    flex-basis: 70%;
  }

  @include for-large-phone-landscape-up {
    font-size: 1.1rem;
  }

  @include for-phone-landscape-up {
    font-size: 0.95rem;
    flex-basis: 45%;
  }

  @include for-phone-landscape-small {
    font-size: 0.95rem;
    flex-basis: 55%;
  }
}

.header-preview {
  grid-area: 3/1/4/2;
  justify-self: start;
  align-self: end;
  margin-left: 1rem;
  font-size: 0.95rem;
  font-weight: 600;

  @include for-phone-landscape-keyboard {
    display: none;
  }

  @include for-tablet-up {
    grid-area: 1/2/2/3;
    justify-self: start;
    align-self: end;
    margin-left: 1rem;
    font-size: 1.25rem;
  }

  @include for-large-phone-landscape-up {
    font-size: 1.1rem;
  }

  @include for-phone-landscape-up {
    font-size: 0.95rem;
  }

  @include for-phone-landscape-small {
    font-size: 0.95rem;
  }
}

label {
  @include Button;
  font-size: 0.875rem;
  font-weight: 400;
  align-self: flex-end;
  display: flex;
  align-items: center;
  width: 5rem;
  order: 2;

  @include for-phone-landscape-small {
    width: 3rem;
    font-size: 0.675rem;
  }
}
input[type="file"] {
  display: none;
}

.clearButton {
  @include Button;
  order: 3;

  @include for-phone-landscape-small {
    font-size: 0.675rem;
  }
}

.previewDropdown {
  grid-area: 3/1/4/3;
  justify-self: end;
  align-self: end;
  margin-right: 1rem;
  @include for-phone-landscape-keyboard {
    display: none;
  }

  @include for-tablet-up {
    grid-area: 1/2/2/3;
    justify-self: end;
    align-self: end;
    margin-left: 1rem;
    font-size: 1rem;
  }
}

select {
  @include Dropdown;

  @include for-phone-landscape-small {
    font-size: 0.675rem;
  }
}

.fileInput {
  font-size: 0.75rem;
  grid-area: 1/1/2/2;
}

.editor {
  @include Textarea;
  font-size: 0.75rem;
  display: flex;
  grid-area: 2/1/3/2;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.2rem;

  @include for-tablet-up {
    grid-area: 2/1/3/2;
    font-size: 0.75rem;
  }

  @include for-phone-landscape-keyboard {
    grid-area: 1/1/2/2;
    font-size: 0.5rem;
    margin-top: 0;
  }

  @include for-phone-landscape-small {
    font-size: 0.675rem;
  }
}

.preview {
  font-size: 0.65rem;
  grid-area: 4/1/5/1;
  text-align: start;
  border: 0.01rem solid $border-color;
  overflow: scroll;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 0.2rem;
  padding: 0 0.25rem;
  scrollbar-color: $button-text-color white;
  scrollbar-width: thin;

  @include for-tablet-up {
    grid-area: 2/2/3/3;
    font-size: 0.75rem;
  }

  @include for-phone-landscape-keyboard {
    grid-area: 1/2/2/2;
    font-size: 0.5rem;
    margin-top: 0;
  }

  @include for-phone-landscape-small {
    font-size: 0.675rem;
  }
}

.footer {
  justify-self: center;
  grid-area: 6/1/7/1;
  font-size: 0.55rem;

  @include for-phone-landscape-keyboard {
    display: none;
  }

  @include for-tablet-up {
    grid-area: 3/1/4/3;
    font-size: 0.75rem;
    align-self: end;
  }

  @include for-phone-landscape-up {
    align-self: center;
  }
}

img {
  width: 20%;
  height: auto;
}
