/*Media Queries*/
/*Variables*/
/*Scrollbar for chrome and safari*/
.preview::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track {
  border: 0.01rem solid transparent;
  background-clip: content-box;
}

.preview::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  width: 0.4rem;
  height: 0;
}

.preview::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
  border: 1px solid #ff00ee;
  background: #ff00ee;
}

html,
body,
#root {
  height: 100%;
  font-family: "Work Sans", sans-serif;
  color: #474747;
  font-size: 16px;
}

body {
  margin: auto 0;
}

.App {
  display: grid;
  grid-template-rows: 3rem 1fr 2.5rem 1fr 0.75rem;
  grid-template-columns: 1fr;
  height: 100%;
  font-size: 0.75rem;
}
@media (min-width: 768px) {
  .App {
    display: grid;
    grid-template-rows: 5.5rem 0.95fr auto;
    grid-template-columns: 1fr 1fr;
    font-size: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 899px) and (orientation: landscape) {
  .App {
    grid-template-rows: 4rem 0.95fr auto;
  }
}
@media (min-width: 560px) and (max-width: 767px) and (orientation: landscape) {
  .App {
    grid-template-rows: 3rem 1fr 2.5rem 1fr 0.5rem;
  }
}

.container-header-editor {
  grid-area: 1/1/2/2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 1rem;
  margin-right: 1rem;
}

.header-editor {
  font-size: 0.95rem;
  font-weight: 600;
}

.header-preview {
  grid-area: 3/1/4/2;
  justify-self: start;
  align-self: end;
  margin-left: 1rem;
  font-size: 0.95rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .header-preview {
    grid-area: 1/2/2/3;
    justify-self: start;
    align-self: end;
    margin-left: 1rem;
    font-size: 1.25rem;
  }
}

label {
  background-color: #ffffff;
  border: 0.05rem solid #5b5b5b;
  color: #ff00ee;
  border-radius: 0.2rem;
  text-decoration: none;
  -webkit-appearance: none;
  width: 3rem;
  height: 1.5rem;
  align-self: flex-end;
  font-size: 0.875rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  width: 5rem;
  order: 2;
}

input[type=file] {
  display: none;
}

.clearButton {
  background-color: #ffffff;
  border: 0.05rem solid #5b5b5b;
  color: #ff00ee;
  border-radius: 0.2rem;
  text-decoration: none;
  -webkit-appearance: none;
  width: 3rem;
  height: 1.5rem;
  order: 3;
}
@media (min-width: 768px) {
  .clearButton {
    margin-bottom: 0.1rem;
  }
}

.previewDropdown {
  grid-area: 3/1/4/3;
  justify-self: end;
  align-self: end;
  margin-right: 1rem;
}
@media (min-width: 768px) {
  .previewDropdown {
    grid-area: 1/2/2/3;
    justify-self: end;
    align-self: end;
    margin-left: 1rem;
    font-size: 1rem;
  }
}

select {
  height: 1.5rem;
  background-color: #ffffff;
  color: #ff00ee;
  border: 0.05rem solid #5b5b5b;
  border-radius: 0.2rem;
  margin-bottom: 0.1rem;
}

.fileInput {
  font-size: 0.75rem;
  grid-area: 1/1/2/2;
  margin-left: 2.5rem;
}

.editor {
  padding: 0.25rem;
  border: 0.05rem solid #5b5b5b;
  background-color: #080808;
  color: #f2ecff;
  resize: none;
  outline: none;
  scrollbar-color: #ff00ee white;
  scrollbar-width: thin;
  border-radius: 0;
  font-size: 0.75rem;
  display: flex;
  grid-area: 2/1/3/2;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.2rem;
}
@media (min-width: 768px) {
  .editor {
    grid-area: 2/1/3/2;
    font-size: 1rem;
  }
}

.preview {
  font-size: 0.65rem;
  grid-area: 4/1/5/1;
  text-align: start;
  border: 0.01rem solid #5b5b5b;
  overflow: scroll;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 0.1rem;
  padding: 0 0.25rem;
  scrollbar-color: #ff00ee white;
  scrollbar-width: thin;
}
@media (min-width: 768px) {
  .preview {
    grid-area: 2/2/3/3;
    font-size: 0.75rem;
    margin-top: 0.2rem;
  }
}

.footer {
  justify-self: center;
  grid-area: 6/1/7/1;
  font-size: 0.55rem;
}
@media (min-width: 768px) {
  .footer {
    grid-area: 3/1/4/3;
    font-size: 0.75rem;
    align-self: end;
  }
}

img {
  width: 25%;
  height: auto;
}

/*# sourceMappingURL=index.css.map */
